main {
    background-color: rgb(19, 44, 69);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    height: 250px;
    margin: 10px;
    padding: 10px;
    
}

div#res{
    background-color: azure;
    flex: auto;
    width: 83vw;
    border: 3px solid rgb(19, 44, 69);
    
    
    
}


body{
    background-color: rgb(143, 145, 151);
    color: rgb(255, 255, 255);
    
}

input{
    flex: auto;
    text-align: center;
    cursor: pointer;
}
h1{
    text-align: center;
    color:rgb(19, 44, 69);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
}
input[type="button"] {
    background-color:  rgb(143, 145, 151);
    color: rgb(22, 49, 77);
}

input[type="button"]:hover {
   color:  rgb(143, 145, 151);
   background-color: rgba(48, 107, 167, 0.464);
}

select {
    width: 150px;
}
p{ text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
}
p.p {
    color: black;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    padding: 4px;
    align-items: center;
    flex: auto;
    text-align: center;
}

.footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer > p {
    flex: auto;
    color: rgb(22, 49, 77);
    font-weight: 850;
     text-shadow:1px 1px 1px rgba(0, 0, 0, 0.184);
}
a {
    text-decoration: none;
    color: rgb(10, 29, 50);
    font-weight: bolder;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.184);
}
span {
    font-weight: bolder;
    font-size: 1.1em;
}


